# Fichier par défaut
DirectoryIndex index.html

# Interdire l'indexation des dossiers
Options -Indexes

# Forcer charset UTF-8
AddDefaultCharset UTF-8

# Redirection 404 vers index.html (utile SPA)
ErrorDocument 404 /index.html
